.ad-status-approved {
  background-color: rgb(0, 255, 0, 0.5);
}

.ad-status-rejected {
  background-color: rgb(255, 0, 0, 0.5);
}

.ad-status-pending {
  background-color: rgb(255, 255, 0, 0.5);
}

.ad-status-draft {
  background-color: rgb(255, 255, 0, 0.5);
}
